body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

button {
    width: 100%
}

.container {
    width: calc(100vw - 5px);
    height: calc(100vh - 5px);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    padding: 0;
    border: 1px solid lightgray;
}

.sidebar {
    background-color: #2a483a;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    background-color: black;
    flex: 6;
    overflow: scroll;
    display: block;
    position: relative;
}

.rhp {
    background-color: #2a483a;
    flex: 3;
}

.rhp-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rhp-block-palette {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    height: 3048px;
    width: 3048px;
    flex: 1;
    display: block;
    margin: 50px;
}

.row {

}

.cell {
    border: 0;
    padding: 0;
    background-repeat: no-repeat;
    display: inline-block;
    background-color: white;
}

button {
    border-color: lightgray;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 90%;
    padding: 5px;
}

.big-block {
    height: 48px;
    width: 32px
}

select {
    width: calc(100% - 20px);
}

.side-label {
    background-color: darkgreen;
    color: bisque;
    width: calc(100% - 20px);
    font-size: smaller;
    padding: 5px;
}

.side-control-row {
    display: flex;
    width: calc(100% - 20px);
}

.side-control-row-title {
    display: flex;
    width: calc(100% - 10px);
}

.mini-button {
    flex: 1;
}

.popup-border {
    background-color: #b1f58e;
    border: 1px solid #042408;
}

.clear {
    width: 600px;
    height: 320px;
}

.export {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

.export-detail {
    padding-left: 10px;
}

.dialog-title {
    width: calc(100% - 8px);
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    background-color: darkgreen;
    color: #f2f6cb;
    margin-bottom: 25px;
    text-align: center;
    padding: 4px;
}

.dialog-detail {
    width: 90%;
    margin-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.dialog {
    display: none;
    position: absolute;
    top: 25px;
    left: 50px;
    box-shadow: 13px 13px 15px 16px rgba(1, 1, 1, 0.75);
    overflow: hidden;
}

.please-wait {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    background-color: #2110b6;
    color: #f2f6cb;
}